* {
  margin: 0;
  padding: 0;
}
:root {
  --color: #007bff;
  --color2: #f7f9fe;
  --color3: #50658e;
  --padding: 60px;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: left;
  background-color: #fff;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 0.5rem;
  font-weight: 500;
  line-height: 1.2;
}
.cont {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
@media (min-width: 768px) {
  .cont {
    width: 730px;
  }
}
@media (min-width: 992px) {
  .cont {
    width: 948px;
  }
}
@media (min-width: 1200px) {
  .cont {
    width: 1170px;
  }
}
.home {
  background-color: var(--color2);
  background-image: url(../image/Header.png);
  background-size: cover;
  width: 100%;
  height: 100vh;
}
.home .nav {
  background-color: #fff;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  /*
  right: 30px;
  left: 30px;
  padding: 20px 0px;
  */
  right: 0px;
  left: 0px;
  padding: 20px 20px;
  top: 0;
  z-index: 6;
}
.home .nav .mneu {
  display: none;
}
.home .nav .mneu i {
  font-size: 32px;
  color: black;
}
.home .nav h1 {
  font-weight: 900;
  font-size: 28px;
}
.home .nav h1 span {
  margin: 0px 4px;
}
.home .nav h1 .num {
  color: #50658e;
  margin-left: 5px;
}
.home .nav .links {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.home .nav .links ul {
  display: flex;
}
.home .nav .links ul a {
  margin: 10px;
  color: var(--color3);
  font-weight: 600;
}
.home .nav .links ul .activ {
  color: #2a81ea;
}
.home .nav .links ul a:hover {
  color: #2a81ea;
}
.home .nav .links .btn {
  padding: 10px 30px;
  background-color: #2a81ea;
  color: white;
  border-radius: 25px;
  margin-left: 10px;
}
@media (max-width: 992px) {
  .home {
    height: auto;
  }
  .home .nav .links {
    display: none;
  }
  .home .nav .mneu {
    display: block;
  }
}
@media (max-width: 768px) {
  .home .nav h1 {
    font-size: 22px;
  }
  .home .nav {
    right: 0px;
    left: 0px;
  }
}

/*##################*/
.home .info {
  padding-top: 100px;
  display: flex;
}
.home .info .card {
  width: 50%;
}
.home .info .card img {
  width: 100%;
}
.home .info .row1 {
  display: flex;
  align-items: flex-start;
}
.home .info .row1 h1 {
  color: var(--color3);
  font-size: 85px;
  font-weight: 1000;
  font-family: "Oswald", sans-serif;
}
.home .info .row1 span {
  margin: 16px 28px 28px 0px;
}
.home .info .row1 span h4 {
  font-family: "Oswald", sans-serif;
  color: red;
  font-size: 30px;
}
.home .info .row1 span h3 {
  font-family: "Oswald", sans-serif;
  font-size: 43px;
  color: var(--color3);
}
.home .info .row p {
  color: var(--color3);
}
.home .info .row2 {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.home .info .row2 div .btn {
  background-color: var(--color);
  padding: 10px 20px;
  font-size: 19px;
  color: white;
  border: 1px solid var(--color);
  margin-top: 50px;
  margin-bottom: 10px;
  border-radius: 50px;
  cursor: pointer;
}
.home .info .row2 div .aa {
  color: #007bff;
  margin-top: 30px;
}
.home .info .row3 {
  display: flex;
  justify-content: space-between;
  margin: 15px 0;
}
.home .info .row3 .col {
  margin: 10px 0;
}
.home .info .row3 .col h4 {
  font-weight: 1000;
  font-size: 25px;
  color: #50658e;
}
.home .info .row3 .col h6 {
  color: #7d92bb;
  font-size: 17px;
  font-weight: 500;
  text-align: center;
}
.home .info .row4 {
  margin-bottom: 40px;
}
.home .info .row4 p {
  font-size: 13px;
  font-weight: lighter;
  color: #7d92bb;
  margin: 20px 0;
}

@media (max-width: 768px) {
  .home .info {
    flex-direction: column;
  }
  .home .info .card {
    width: 100%;
  }
  .home .info .row1 h1 {
    font-size: 70px;
  }
  .home .info .row1 {
    flex-direction: column;
  }
  .home .info .row p {
    margin-bottom: 30px;
  }
  .home .info .row2 {
    flex-direction: column;
  }
  .home .info .row3 {
    flex-direction: column;
    text-align: center;
  }
  .home .info .row4 p {
    text-align: center;
  }
}
@media (max-width: 992px) {
  .home .info {
    flex-direction: column;
  }
  .home .info .card {
    width: 100%;
  }
}
/*##################*/
.about {
  background-color: white;
  padding-top: 60px;
  padding-bottom: 60px;
}
.about .content {
  display: flex;
  justify-content: space-evenly;
}
.about .content .col1 {
  width: 70%;
  padding: 0px 35px;
}
.about .content .col1 h3 {
  margin-top: 10px;
  margin-bottom: 20px;
  font-size: 20px;
  color: #3f6ffd;
}
.about .content .col1 h2 {
  margin-top: 20px;
  margin-bottom: 30px;
  font-family: "Oswald", sans-serif;
  font-size: 45px;
  font-weight: 900;
  color: var(--color3);
}
.about .content .col1 p {
  margin: 15px 0;
  color: #3d4b69;
}
.about .content .col1 .spcail {
  font-weight: 700;
  font-size: 21px;
}
.about .content .col1 .spcail2 {
  font-size: 18px;
}
.about .content .col2 .info {
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.125);
  padding: 0px 0px;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}
.about .content .col2 ul li {
  margin: 10px 0px;
  padding: 10px 15px;
  display: flex;
  justify-content: space-between;
  color: #007bff;
  border-bottom: 2px solid rgba(0, 0, 0, 0.125);
  cursor: pointer;
}
.about .content .col2 ul li:hover a {
  text-decoration: underline;
}

.about .content .col2 ul .spacial {
  font-size: 22px;
  font-weight: 600;
  padding: 16px;
  color: #50658e;
}

.about .content .col2 ul li a {
  padding: 0px 7px;
  color: #007bff;
}
@media (max-width: 992px) {
  .about .content {
    flex-direction: column;
  }
  .about .content .col1 {
    width: 95%;
  }
}
@media (max-width: 768px) {
  .about .content .col1 {
    text-align: center;
    padding: 0px;
  }
  .about .content .col1 h2 {
    font-size: 40px;
  }
}
/* ################3 */
.transmision {
  padding-top: var(--padding);
  padding-bottom: var(--padding);
  background-color: var(--color2);
}
.spacial {
  text-align: center;
}
.spacial h5 {
  margin: 10px 0px;
  font-size: 21px;
  color: var(--color);
  font-weight: 700;
}
.spacial h2 {
  font-family: "Oswald", sans-serif;
  font-size: 45px;
  font-weight: 900;
  margin-top: 0px;
  padding-top: 0px;
  color: #50658e;
  margin-bottom: 10px;
}
.spacial p {
  margin: 20px 0;
}
.transmision .row {
  display: flex;
  justify-content: space-around;
}
.transmision .row .col {
  width: 30%;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 4px;
  height: auto;
  margin: 0px 15px;
}
.transmision .row .col img {
  max-width: 100%;
  border-bottom: 5px solid var(--color);
}
.transmision .row .col .text {
  background-color: white;
  padding: 20px 19px;
}
.transmision .row .col .text h5 {
  font-size: 21px;
  color: #50658e;
  margin-bottom: 20px;
}
.transmision .row .col .text p {
  color: #3d4b69;
}
.transmision .row2 {
  text-align: center;
  margin: 40px auto;
}
.transmision .row2 .btn {
  padding: 30px 40px;
  background-color: #007bff;
  border-radius: 50px;
  color: white;
  font-size: 17px;
  border: 1px solid #007bff;
}
.transmision .row2 a span {
  margin-left: 10px;
}

@media (max-width: 768px) {
  .spacial h5 {
    font-size: 19px;
  }
  .spacial h2 {
    font-size: 40px;
  }
}
@media (max-width: 992px) {
  .transmision .row {
    flex-direction: column;
  }
  .transmision .row .col {
    width: 90%;
    margin: 20px auto;
  }
}
@media (max-width: 768px) {
  .transmision .row .col {
    margin: 15px auto;
  }

  .transmision .row2 .btn {
    padding: 10px 20px;
    font-size: 14px;
  }
}
/* ##symptoms##*/
.symptoms {
  padding-top: var(--padding);
  padding-bottom: var(--padding);
  background-color: #fff;
}
.symptoms .row1 {
  display: flex;
  margin-top: 100px;
  padding: 20px;
}
.symptoms .row1 .col {
  width: 30%;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
  position: relative;
  padding: 20px 30px;
}
.symptoms .row1 .col .imge {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 20px;
}
.symptoms .row1 .col img {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  position: absolute;
  left: 200px;
}
.symptoms .row1 .col .imge h5 {
  color: #7691f9;
  font-weight: bold;
  font-size: 19px;
}
.symptoms .row1 .col p {
  color: #3d4b69;
}
.symptoms .row1 .col p span {
  font-weight: 700;
}
.symptoms .row2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 40px 0px;
}
.symptoms .row2 .col {
  width: 40%;
  display: flex;
  justify-content: space-around;
}
.symptoms .row2 .col i {
  color: #50658e;
}
.symptoms .row2 .col p {
  font-size: 15px;
}
.symptoms .row2 .col p span {
  color: #007bff;
  font-size: 18px;
  font-weight: 700;
}
.symptoms .row2 .col button {
  margin: 0px auto;
  background-color: var(--color);
  padding: 20px 20px;
  border: 1px solid var(--color);
  border-radius: 40px;
  color: white;
  font-size: 17px;
}
.symptoms .row2 .col button i {
  color: white;
}

@media (max-width: 992px) {
  .symptoms .row1 {
    flex-direction: column;
  }
  .symptoms .row1 .col {
    width: 95%;
    margin: 40px 0px;
  }
  .symptoms .row1 .col img {
    left: 540px;
  }
  .symptoms .row2 {
    flex-direction: column;
  }
  .symptoms .row2 .col {
    width: 90%;
  }
  .symptoms .row2 .col button {
    margin: 30px auto;
  }
}
@media (max-width: 768px) {
  .symptoms .row1 .col {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 20px 15px;
  }
  .symptoms .row1 .col img {
    left: 140px;
  }
  .symptoms .row2 .col {
    flex-direction: column;
    text-align: center;
  }
  .symptoms .row2 .col span i {
    margin-bottom: 20px;
  }
  .symptoms .row2 .col p {
    font-size: 14px;
  }
  .symptoms .row2 .col p span {
    font-size: 15px;
    font-weight: 600;
  }
}
/*################prevention###############*/
.prevention {
  padding-top: var(--padding);
  padding-bottom: var(--padding);
  background-color: var(--color2);
}
.prevention .row2 {
  margin: 40px 0px;
  display: flex;
  justify-content: space-around;
}
.prevention .row2 .col {
  width: 21%;
  text-align: center;
}
.prevention .row2 .col img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}
.prevention .row2 .col h5 {
  font-size: 20px;
  font-weight: bold;
  color: var(--color3);
  margin-bottom: 10px;
}
.prevention .row2 .col p {
  color: var(--color3);
}
.prevention .row3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 60px 0px;
}
.prevention .row3 .btn {
  background-color: var(--color);
  color: white;
  border-radius: 50px;
  font-size: 19px;
  font-weight: 500;
  padding: 20px 19px;
  margin-bottom: 20px;
}
.prevention .row3 .btn i {
  margin-left: 10px;
}
.prevention .row3 .btn2 {
  font-family: "Oswald", sans-serif;
  font-size: 20px;
  color: var(--color);
}
@media (max-width: 992px) {
  .prevention .row2 {
    flex-direction: column;
  }
  .prevention .row2 .col {
    width: 95%;
    margin: 20px 0px;
  }
}
@media (max-width: 768px) {
  .prevention .row2 .col img {
    margin-bottom: 20px;
  }
  .prevention .row3 .btn {
    font-size: 14px;
  }
  .prevention .row3 .btn2 {
    font-size: 15px;
  }
}
/*###########################*/
.prevention .row4 {
  background-color: white;
  padding: 40px 30px;
  border-radius: 30px;
  color: #465675;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}
.prevention .row4 .info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.prevention .row4 .info .coll {
  width: 64%;
}
.prevention .row4 .info .coll2 {
  width: 40%;
}
.prevention .row4 .info .coll2 img {
  max-width: 100%;
}
.prevention .row4 .info .coll h2 {
  font-weight: 700;
  font-size: 33px;
  margin-bottom: 20px;
}
.prevention .row4 .info .coll ul li {
  margin: 30px 10px;
  color: #3d4b69;
}
.prevention .row4 .info .coll ul li i {
  color: #52c98b;
}
.prevention .row4 .info .coll ul li span {
  color: #3d4b69;
  font-weight: 700;
}
.prevention .row4 .info .coll ul li a {
  text-decoration: underline;
  color: var(--color);
}
@media (max-width: 992px) {
  .prevention .row4 .info {
    flex-direction: column;
  }
  .prevention .row4 .info .coll {
    width: 95%;
    text-align: left;
  }
  .prevention .row4 .info .coll2 {
    width: 95%;
    text-align: center;
  }
  .prevention .row4 .info .coll h2 {
    font-size: 28px;
  }
  .prevention .cont {
    padding: 0;
  }
}
.prevention .row5 {
  margin: 80px auto;
  padding: 20px 0px;
  text-align: center;
}
.prevention .row5 .colr {
  margin-bottom: 60px;
}
.prevention .row5 .colr h2 {
  color: var(--color3);
  font-weight: 700;
  font-size: 32px;
  margin-bottom: 20px;
}
.prevention .row5 .colr a {
  font-size: 20px;
  color: var(--color);
  font-weight: 500;
  font-family: "Oswald", sans-serif;
}
.prevention .row5 .colr a i {
  margin-left: 5px;
  color: var(--color);
}
.prevention .row5 .colr2 {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.prevention .row5 .colr2 .col {
  width: 16%;
}
.prevention .row5 .colr2 .col img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}
.prevention .row5 .colr2 .col h6 {
  color: var(--color3);
  font-size: 16px;
  margin: 20px 0px;
  font-weight: 700;
}
@media (max-width: 992px) {
  .prevention .row5 .colr2 .col {
    width: 30%;
    margin-top: 20px;
  }
}
@media (max-width: 768px) {
  .prevention .row5 .colr2 .col {
    width: 45%;
  }
  .prevention .row5 .colr2 .col img {
    width: 110px;
    height: 110px;
  }
}
/***************treatment***************/
.treatment {
  padding-top: var(--padding);
  padding-bottom: var(--padding);
  background-color: #2766bb;
  background-image: url(../image/Header.png);
  background-size: 100% 100%;
}
.treatment .info {
  padding: 30px 0px;
  display: flex;
  justify-content: space-evenly;
}
.treatment .info .col1 {
  padding: 30px 30px;
  color: white;
  width: 58%;
}
.treatment .info .col2 {
  width: 35%;
  padding: 20px;
  color: white;
  background-color: #1b47a1;
  border-radius: 20px;
  margin: 40px 0px;
}

.treatment .info .col1 h5 {
  color: #73e3ff;
  font-size: 20px;
  font-weight: bolder;
}
.treatment .info .col1 h2 {
  font-size: 46px;
  font-family: "Oswald", sans-serif;
  color: #fff;
  margin-bottom: 30px;
}
.treatment .info .col1 p {
  margin-bottom: 20px;
}
.treatment .info .col1 p span {
  font-weight: bolder;
}
.treatment .info .col2 .data {
  padding: 20px;
}
.treatment .info .col2 .data h6 {
  font-size: 20px;
  font-weight: bolder;
  font-size: 16px;
}
.treatment .info .col2 .data p {
  font-size: 16px;
  margin-bottom: 7px;
}
.treatment .info .col2 .data ul li {
  margin: 15px 0px;
}
.treatment .info .col2 .data ul li i {
}
@media (max-width: 992px) {
  .treatment .info {
    flex-direction: column;
  }
  .treatment .info .col1 {
    width: 95%;
    padding: 30px 10px;
  }
  .treatment .info .col2 {
    width: 95%;
    padding: 30px 20px;
  }
}
@media (max-width: 768px) {
  .treatment .info {
    flex-direction: column;
  }
  .treatment .info .col1 {
    width: 95%;
    padding: 30px 10px;
  }
  .treatment .info .col2 {
    width: 95%;
    padding: 20px 10px;
  }
  .treatment .info .col1 h2 {
    font-size: 41px;
  }
}

/*###########treatment2#############*/

.treatment2 {
  padding-top: var(--padding);
  padding-bottom: var(--padding);
  background-color: #f7f9fe;
}
.treatment2 .row {
  margin: 40px 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.treatment2 .row .col1 {
  width: 22%;
}

.treatment2 .row .col2 {
  width: 48%;
}
.treatment2 .row .col2 img {
  max-width: 100%;
}
.treatment2 .row .col1 .rows {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 20px 0px;
}
.treatment2 .row .col1 .rows .text {
  width: 50%;
}
.treatment2 .row .col1 .rows .text p {
  color: #2a81ea;
  font-size: 14px;
  font-weight: 700;
}
.treatment2 .row .col1 .rows .image {
  position: relative;
}
/*
.treatment2 .row .col1 .rows .image::after{
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: red;
  border-radius: 50%;
  left: -15px;
}
*/
.treatment2 .row .col1 .rows .imgandicon {
  display: flex;
  align-items: flex-start;
}
.treatment2 .row .col1 .rows .imgandicon .icon {
  color: red;
}
.treatment2 .row .col1 .rows .imgandicon .icon2 {
  color: #90ee90;
}
.treatment2 .row .col1 .rows .imgandicon .icon i {
}
.treatment2 .row .col1 .rows .image img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border: 3px solid var(--color);
}

@media (max-width: 992px) {
  .treatment2 .row {
    margin: 40px 0px;
    flex-direction: column;
  }
  .treatment2 .row .col1 {
    width: 95%;
    text-align: center;
  }
  .treatment2 .row .col2 {
    width: 95%;
  }
  .treatment2 .row .col1 .rows2 {
    flex-direction: row-reverse;
  }
  .treatment2 .row .col1 .rows2 .imgandicon {
    flex-direction: row-reverse;
  }
}
/*##################################*/
.fqa {
  padding-top: var(--padding);
  padding-bottom: var(--padding);
}
.fqa .row {
  margin: 20px 0px;
  display: flex;
  justify-content: space-around;
}
.fqa .row .col1 {
  width: 33%;
}
.fqa .row .col2 {
  width: 62%;
  border: 2px solid #e7e8ff;
  border-radius: 5px;
  color: #465675;
}
.fqa .row .col1 ul li {
  border: 2px solid #e7e8ff;
  padding: 15px 10px;
  border-radius: 10px;
  display: flex;
  justify-content: space-around;
  color: #50658e;
  font-size: 15px;
  margin: 10px 0px;
}
.fqa .row .col1 ul .activ {
  color: var(--color);
  border: 2px solid var(--color);
}
.fqa .row .col1 ul .activ a {
  color: var(--color);
}
.fqa .row .col1 ul li:hover {
  color: var(--color);
  border: 2px solid var(--color);
}
.fqa .row .col1 ul li:hover a {
  color: var(--color);
}
.fqa .row .col2 h6 {
  font-size: 17px;
  background-color: #f7fafe;
  font-weight: bold;
  padding: 20px 5%;
  margin: 0;
}
.fqa .row .col2 h6:hover {
  color: var(--color);
}
.fqa .row .col2 h6 span {
  float: right;
}
.fqa .row .col2 .spacialh6 span i {
  background-color: #fff;
  border-radius: 50%;
}
.fqa .row .col2 h6 span i {
  border-radius: 50%;
  font-size: 20px;
}
.fqa .row .col2 p {
  padding: 0px 20px;
  color: #3d4b69;
  margin-bottom: 10px;
}
.fqa .row .col2 p span {
  color: var(--color);
}
.fqa .row .col2 .spac {
  font-size: 15px;
}
.fqa .row .col2 .lines {
  padding: 30px 5%;
  border-bottom: 2px solid #e7e8ff;
}

@media (max-width: 992px) {
  .fqa .row {
    flex-direction: column;
  }
  .fqa .row .col1 {
    width: 90%;
  }
  .fqa .row .col2 {
    width: 100%;
  }
  .fqa .row .col1 ul li {
    justify-content: space-between;
    padding: 15px 20px;
  }
}
@media (max-width: 768px) {
  .fqa .row .col1 ul li {
    padding: 15px 10px;
  }
}
/*##############news#############*/
.news {
  color: #50658e;
  background-color: #f7f9fe;
  padding-top: var(--padding);
  padding-bottom: var(--padding);
}
.news .row {
  display: flex;
  justify-content: space-between;
}
.news .row .col {
  width: 31%;
  background-color: #fff;
  text-align: center;
  border-radius: 4px;
}
.news .row .col img {
  width: 85%;
  margin: 20px auto;
  border-radius: 4px;
}

.news .row .col .text {
  padding: 20px;
}
.news .row .col .text h5 {
  font-size: 20px;
  font-weight: bold;
}
.news .row .col .text p {
  padding: 0px 10px;
}
@media (max-width: 992px) {
  .news .row {
    flex-direction: column;
  }
  .news .row .col {
    width: 91%;
  }
  .news .row .col .text p {
    padding: 0px 0px;
  }
  .news .row .col img {
    width: 95%;
  }
}
/*#################footer#################*/
.footer {
  padding-top: var(--padding);
  padding-bottom: var(--padding);
  background-image: url(../image/Header.png);
  background-color: #151c2e;
  background-size: cover;
}
.footer .row {
  display: flex;
  justify-content: space-around;
}
.footer .row .col {
  width: 35%;
}
.footer .row .col2 {
  width: 60%;
}
.footer .row .col h2 {
  font-size: 30px;
  font-weight: 900;
  color: #fff;
}
.footer i {
  margin: 3px 10px;
}
.footer .row .col h2 i {
  color: #dc3545;
}
.footer .row .col p {
  margin-bottom: 20px;
  margin-top: 10px;
}
.footer p {
  color: #b2bfe0;
  font-size: 13px;
}
.footer a {
  color: #b2bfe0;
  font-size: 13px;
}
.footer .row .col2 {
  margin-top: 20px;
}
.footer .row .coll1 {
  color: #fff;
}
.footer .row .coll1 h6 {
  font-weight: bolder;
  font-size: 20px;
  color: #fff;
}
.footer .row .col2 {
  display: flex;
  justify-content: space-around;
}
.footer .row .col2 .coll1 {
  width: 33%;
}
.footer .row .col2 .coll1 a {
  margin: 18px 0px;
  display: block;
}
.footer .row .col2 .coll1 a:hover {
  text-decoration: underline;
}
.footer hr {
  height: 0px;
  color: #b2bfe0;
  border-top: 1px solid #b2bfe0;
  width: 100%;
  margin: 55px 0px;
}
.footer .row2 .col p {
  margin-bottom: 30px;
}
.footer .row2 .col p span a {
  color: #fff;
  cursor: pointer;
}
.footer .row2 .col p span a:hover {
  text-decoration: underline;
  color: var(--color);
}
@media (max-width: 992px) {
  .footer .row {
    flex-direction: column;
  }
  .footer .row .col {
    width: 85%;
  }
  .footer .row .col2 {
    width: 85%;
  }
}
@media (max-width: 768px) {
  .footer .row .col2 {
    flex-direction: column;
    padding: 0px 20px;
  }
  .footer .row .col2 .coll1 {
    width: 90%;
  }
  .footer .row2 .col{
    padding: 0px 20px;
  }
}
